.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
  
    h1 {
      font-size: 3rem;
    }
  
    .socialLinks a {
      margin: 0 10px;
      color: black;
    }
  }
  