.items {

  @apply flex animate-loop-scroll

}

.item {

  @apply max-w-none

}



@keyframes loop_scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.animate-loop-scroll {
  animation: loop_scroll 20s linear infinite;
}